#gamecontainer {
	width:640px;
	height:480px;
	background: url(images/splashscreen.png);
	border: 1px solid black;
}

.gamelayer {
	width:640px;
	height:480px;
	position:absolute;
	display:none;
}

/* Pantalla del menú de incio del juego */
#gamestartscreen {
	padding-top:250px;
	text-align:center;
}

#gamestartscreen img {
	margin:10px;
	cursor:pointer;
}

/* Pantalla de selección de nivel */
#levelselectscreen {
	padding-top:150px;
	padding-left:50px;	
}

#levelselectscreen input {
	margin:20px;
	cursor:pointer;
	background:url(images/icons/level.png) no-repeat;
	color:yellow;
	font-size: 20px;
	width:64px;
	height:64px;
	border:0;
}

/* Pantalla de carga */
#loadingscreen {
	background:rgba(100,100,100,0.3);	
}

#loadingmessage {
    margin-top:400px;
	text-align:center;
	height:48px;
	color:white;
	background:url(images/loader.gif) no-repeat center;
	font:12px Arial;
}

/* Pantalla de puntuación */
#scorescreen  {
    height:60px;
    font: 32px Comic Sans MS;
    text-shadow: 0 0 2px #000;
	color:white;
}

#scorescreen img{
    opacity:0.6;
    top:10px;
    position:relative;
    padding-left:10px;
    cursor:pointer;
}

#scorescreen #score {
	position:absolute;
	top:5px;
	right:20px;
}

/* Pantalla de finalización */
endingscreen {
	text-align:center;	
}

#endingscreen div {
	height:430px;
	padding-top:50px;
	border:1px;
	background:rgba(1,1,1,0.5);
	text-align:left;
	padding-left:100px;
}

#endingscreen p  {    
    font: 20px Comic Sans MS;
    text-shadow: 0 0 2px #000;
	color:white;
}

#endingscreen p img{
	top:10px;
	position:relative;
	cursor:pointer;
}

#endingscreen #endingmessage  {    
    font: 32px Comic Sans MS;
    text-shadow: 0 0 2px #000;
	color:white;
}

#settingsscreen {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-container {
    background: url(images/icons/settingsCard.png) no-repeat center;
    width: 480px;
    height: 420px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-container h2 {
    margin: 0 0 40px 0;
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    text-shadow: 0 0 2px #000;
    letter-spacing: 1px;
    font-weight: 300;
}

.setting-item {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.setting-item label {
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    text-shadow: 0 0 2px #000;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.toggle-container {
    position: relative;
    width: 90px;
    height: 39px;
}

.toggle-container input[type="checkbox"] {
    display: none;
}

.toggle-label {
    display: block;
    width: 90px;
    height: 39px;
    background: url(images/icons/toggleOff.png) no-repeat;
    cursor: pointer;
}

.toggle-container input[type="checkbox"]:checked + .toggle-label {
    background: url(images/icons/toggleOn.png) no-repeat;
}